parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:setSystemFields\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Database/Seeders/FieldsSeeder.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:setUpdatedByIfDirty\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Database/Seeders/FieldsSeeder.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:setSystemFields\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Database/Seeders/LovsSeeder.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:setUpdatedByIfDirty\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Database/Seeders/LovsSeeder.php

		-
			message: '#^Call to function is_subclass_of\(\) with class\-string\<Amarenkov\\MutableContent\\Models\\ModelWithFields\> and ''Illuminate\\\\Database\\\\Eloquent\\\\Model'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Helpers/FieldCodeHelper.php

		-
			message: '#^Call to function method_exists\(\) with Amarenkov\\MutableContent\\Models\\ModelWithFields and ''getDeletedAtColumn'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Helpers/FieldCodeHelper.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Schema\\ColumnDefinition\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: src/Macros/Database/Schema/Builder.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Schema\\Builder\:\:createSchema\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Macros/Database/Schema/Builder.php

		-
			message: '#^Access to an undefined property Illuminate\\Support\\Fluent\:\:\$column\.$#'
			identifier: property.notFound
			count: 2
			path: src/Macros/Database/Schema/Grammars/PostgresGrammar.php

		-
			message: '#^Access to an undefined property Illuminate\\Support\\Fluent\:\:\$expression\.$#'
			identifier: property.notFound
			count: 1
			path: src/Macros/Database/Schema/Grammars/PostgresGrammar.php

		-
			message: '#^Access to an undefined property Illuminate\\Support\\Fluent\:\:\$type\.$#'
			identifier: property.notFound
			count: 2
			path: src/Macros/Database/Schema/Grammars/PostgresGrammar.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$fields\.$#'
			identifier: property.notFound
			count: 4
			path: src/Models/Field/Usage.php

		-
			message: '#^Access to an undefined property Amarenkov\\MutableContent\\Models\\Log\\Entry\:\:\$comment\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/Log/Entry.php

		-
			message: '#^Access to an undefined property Amarenkov\\MutableContent\\Models\\Log\\Entry\:\:\$fields_new\.$#'
			identifier: property.notFound
			count: 2
			path: src/Models/Log/Entry.php

		-
			message: '#^Access to an undefined property Amarenkov\\MutableContent\\Models\\Log\\Entry\:\:\$fields_old\.$#'
			identifier: property.notFound
			count: 2
			path: src/Models/Log/Entry.php

		-
			message: '#^Access to an undefined property Amarenkov\\MutableContent\\Models\\Log\\Entry\:\:\$is_deleted\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/Log/Entry.php

		-
			message: '#^Access to an undefined property Amarenkov\\MutableContent\\Models\\Log\\Entry\:\:\$object_class\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/Log/Entry.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Models/Log/Entry.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Relations\\HasMany\:\:onlyTrashed\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Models/Lov/Lov.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Relations\\HasMany\:\:withTrashed\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Models/Lov/Lov.php

		-
			message: '#^Call to an undefined static method Illuminate\\Support\\Str\:\:toCode\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: src/Models/Lov/Lov.php

		-
			message: '#^Call to an undefined static method Illuminate\\Support\\Str\:\:uniqueCode\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: src/Models/Lov/Lov.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,Illuminate\\Database\\Eloquent\\Model\>\:\:map\(\) expects callable\(Illuminate\\Database\\Eloquent\\Model, int\)\: mixed, Closure\(Amarenkov\\MutableContent\\Models\\Field\\Field\)\: mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Models/Lov/Lov.php

		-
			message: '#^Comparison operation "\<" between 0\|1 and 2 is always true\.$#'
			identifier: smaller.alwaysTrue
			count: 1
			path: src/Models/ModelWithFields.php

		-
			message: '#^Method Amarenkov\\MutableContent\\Models\\ModelWithFields\:\:findTrashedDuplicate\(\) should return static\(Amarenkov\\MutableContent\\Models\\ModelWithFields\)\|null but returns Amarenkov\\MutableContent\\Models\\ModelWithFields\.$#'
			identifier: return.type
			count: 1
			path: src/Models/ModelWithFields.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Models/ModelWithFields.php
